.main-section {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.info-p {
  margin: 20% 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
