.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.dialog-window {
  position: absolute;
  margin: 10% 30%;
  background-color: white;
  width: 40%;
  height: 250px;
  border: 1px solid black;
  z-index: 2;
}
